body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.nav li {
  display: inline;
}

.nav a {
  color: #E86825;
  font-size: 14px;
  padding: 14px 10px;
  text-transform: uppercase;
}

#central {
  background-color: #e8e8e8;
}
